monolog:
  channels: ['app']
  handlers:
    main:
      type: stream
      path: '/var/www/html/var/log/app_%kernel.environment%.log'
      level: info
      channels: ["!event"]
    console:
      type: console
      process_psr_3_messages: false
      channels: ["!event", "!doctrine", "!console"]
