parameters:
  level: 7
  paths:
    - src
  bootstrapFiles:
    - vendor/autoload.php
  parallel:
    maximumNumberOfProcesses: 4
  reportUnmatchedIgnoredErrors: true
  ignoreErrors: []

includes: []
