<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         bootstrap="tests/bootstrap.php"
         cacheResult="false"
         failOnWarning="true"
         failOnRisky="true"
         failOnNotice="true"
>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>src/ContactMessage/Test</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>

        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
    </php>
</phpunit>
